.header__lang-links {
  margin: 30px 4% 0 0;
  font-size: 24px;
  line-height: 1.17;
  display: flex;
  padding: 0;
  list-style-type: none;
  justify-content: flex-end;
  column-gap: 18px;
  font-weight: 300;
  font-style: normal;
  grid-area: header__lang-links;
}

.header__lang-link:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 990px) {
  .header__lang-links {
    font-size: 18px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 525px) {
  .header__lang-links {
    font-size: 16px;
    column-gap: 10px;
  }
}
