.education {
  background-color: #283345;
  padding-bottom: 80px;
}

.education__button {
  margin: 40px auto 0;
}

.education__document {
  margin-top: -32px;
}

.education__document_invisible {
  display: none;
}

.education__documents {
  margin: 0 8%;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  justify-items: center;
  row-gap: 80px;
}

.education__img {
  display: block;
  object-fit: contain;
  width: 250px;
}

@media screen and (max-width: 990px) {
  .education__documents {
    margin: 0 4%;
    column-gap: 30px;
    row-gap: 40px;
  }
}

@media screen and (max-width: 900px) {
  .education__img {
    width: 200px;
  }
}

@media screen and (max-width: 740px) {
  .education__img {
    width: 150px;
  }
}

@media screen and (max-width: 580px) {
  .education__img {
    width: 200px;
  }

  .education__documents {
    grid-template-columns: 1fr;
    row-gap: 15px;
  }

  .education__document {
    margin-top: 30px;
  }
}
