.nav-menu__icon-menu {
  display: none;
}

@media screen and (max-width: 660px) {
  .nav-menu__icon-menu {
    display: block;
    grid-area: header__icon-menu;
    margin: -35px 0 0 4%;
    width: 24px;
    height: 24px;
  }
}
