.footer__copyright {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.7;
  color: #fff;
  text-align: center;
  margin: 10px auto 0;
}

@media screen and (max-width: 700px) {
  .footer__copyright {
    font-size: 16px;
  }
}
