.work-format__item {
  background-color: #EDECEC;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

@media screen and (max-width: 1050px) {
  .work-format__item {
    max-width: 250px;
  }
}

@media screen and (max-width: 850px) {
  .work-format__item {
    max-width: 300px;
   padding-bottom: 30px;
  }

  .work-format__item:nth-child(n+2) {
    margin-top: 50px;
   }
}
