.problems__intro {
  display: grid;
  grid-template-columns: 3fr 7fr;
  column-gap: 80px;
  padding-top: 100px;
}

@media screen and (max-width: 990px) {
  .problems__intro {
    column-gap: 40px;
  }
}

@media screen and (max-width: 720px) {
  .problems__intro {
    padding-top: 60px;
    grid-template-columns: 1fr;
    row-gap: 25px;
  }
}


