.header__title {
  font-size: 30px;
  line-height: 1.17;
  margin: 32px 0 0 8%;
  font-weight: 300;
  font-style: normal;
  grid-area: header__title;
}

@media screen and (max-width: 990px) {
  .header__title {
    font-size: 22px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 525px) {
  .header__title {
    margin-top: 15px;
  }
}
