.page {
  font-family: 'Roboto', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 1180px;
  margin: 0 auto;
  min-height: 100vh;
  justify-content: space-between;
}

.site-background {
  background-color: #151740;
}
