.problems__description {
  margin: 0 10% 0 0;
  max-width: 670px;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.3;
  text-align: justify;
}

@media screen and (max-width: 720px) {
  .problems__description {
    margin: 0 10%;
  }
}
