.price__button-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0;
  margin: 50px 15% 0;
  justify-items: center;
  column-gap: 50px;
}

@media screen and (max-width: 640px) {
  .price__button-list {
    margin-top: 30px;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}
