.contacts__list {
  list-style-type: none;
  margin: 50px 8% 100px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 40px;
  justify-items: center;
}

@media screen and (max-width: 570px) {
  .contacts__list {
    grid-template-columns: 1fr;
    justify-items: start;
    margin-left: 20%;
    margin-bottom: 50px;
  }
}
