.problems__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  column-gap: 50px;
  row-gap: 50px;
  margin: 50px 8% 0;
  padding: 0 0 90px 0;
}

@media screen and (max-width: 800px) {
  .problems__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 580px) {
  .problems__list {
    grid-template-columns: 1fr;
    padding-bottom: 60px;
  }
}
