.problems__item {
  position: relative;
  display: flex;
  flex-direction: column;
}

.problems__item:nth-child(n+4)::after {
  content: '';
  border-top: 3px solid rgba(122, 122, 122, .7);
  box-sizing: border-box;
  width: 100%;
  position: absolute;
}

.problems__item:nth-child(3n-1)::before {
  content: '';
  border-left: 3px solid rgba(122, 122, 122, .7);
  box-sizing: border-box;
  height: 90%;
  position: absolute;
  left: -25px;
  top: 10%;
}

.problems__item:nth-child(3n)::before {
  content: '';
  border-left: 3px solid rgba(122, 122, 122, .7);
  box-sizing: border-box;
  height: 90%;
  position: absolute;
  left: -25px;
  top: 10%;
}

@media screen and (max-width: 800px) {
  .problems__item:nth-child(n+4)::after {
    border: none;
  }

  .problems__item:nth-child(3n-1)::before {
    border: none;
    left: 0;
    top: 0;
  }

  .problems__item:nth-child(3n)::before {
    border: none;
    left: 0;
    top: 0;
  }

  .problems__item:nth-child(2n)::after {
    content: '';
    border-left: 3px solid rgba(122, 122, 122, .7);
    box-sizing: border-box;
    height: 90%;
    position: absolute;
    left: -25px;
    top: 10%;
  }

  .problems__item:nth-child(n+3)::before {
    content: '';
    border-top: 3px solid rgba(122, 122, 122, .7);
    box-sizing: border-box;
    width: 100%;
    position: absolute;
  }
}

@media screen and (max-width: 580px) {
  .problems__item:nth-child(2n)::after {
    border: none;
    left: 0;
    top: 0;
  }

  .problems__item:nth-child(n+3)::before {
    border: none;
  }

  .problems__item:nth-child(n+2)::after {
    content: '';
    border-top: 3px solid rgba(122, 122, 122, .7);
    box-sizing: border-box;
    width: 100%;
    position: absolute;
  }
}
