.section__title {
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.18;
  color: #fff;
  margin: 0;
}

@media screen and (max-width: 990px) {
  .section__title {
    font-size: 24px;
  }
}

@media screen and (max-width: 700px) {
  .section__title {
    font-size: 20px;
  }
}
