.work-format__list {
  list-style-type: none;
  margin: 80px auto 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  position: absolute;
  align-self: center;
  top: 110px;
}

@media screen and (max-width: 1050px) {
  .work-format__list {
    margin-top: 30px;
    column-gap: 30px;
  }
}

@media screen and (max-width: 850px) {
  .work-format__list {
    grid-template-columns: 1fr;
    position: relative;
    top: 0;
    margin: 50px auto 60px;
  }
}
