.about-me {
  background-color: #000;
  display: grid;
  color: #c4c4c4;
  grid-template-areas: 'about-me__description about-me__photo';
}

@media screen and (max-width: 510px) {
  .about-me {
    grid-template-areas: 'about-me__photo about-me__photo'
                          'about-me__description about-me__description';
  }
}
