.header {
  position: relative;
  background-color: #151740;
  width: 100%;
  display: grid;
  flex-direction: column;
  color: #fff;
  grid-template-areas: 'header__lang-links header__lang-links'
                       'header__title header__contacts';
}

@media screen and (max-width: 660px) {
  .header {
    grid-template-areas: 'header__title header__lang-links'
                         'header__icon-menu header__contacts';
  }
}

@media screen and (max-width: 525px) {
  .header {
    grid-template-areas: 'header__lang-links header__lang-links'
                         'header__title header__title'
                         'header__icon-menu header__contacts';
  }
}
