.section_focused {
  padding-top: 50px;
}

@media screen and (max-width: 1050px) {
  .section_focused {
    padding-top: 100px;
  }
}

@media screen and (max-width: 660px) {
  .section_focused {
    padding-top: 0;
  }
}
